@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  padding-top: 0;
  min-height: 80px;
  margin-bottom: 0;
  color: rgb(0, 43, 66);
  background: #edf2f7;
  min-width: 870px;
  -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 4px 6px -6px #999;
    box-shadow: 0 6px 6px -4px rgb(135, 135, 135);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(211, 211, 211);
}

.navbar-title{
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
  color: rgba(6,57,84,1);
  font-size: 30px;
  margin-bottom: 0;
}

.navbar-credits {
  padding-left: 42px;
  margin-top: 10px;
  font-size: 14px;

}

.navbar-left-container {
  display: inline-block;
  width: 40%;
  text-align: left;
  vertical-align: top;
}

.navbar-right-container {
  display: inline-block;
  width: 60%;
  text-align: right;
  margin-top: 15px;
  vertical-align: top;
}

.navbar-link {
  display: inline-block;
  margin-right: 35px;
  margin-top: 25px;
  font-size: 18px;
  color: rgba(6,57,84,1);
}

.navbar-link:hover {
  color: rgba(6,57,84,1);
  text-decoration: underline;
}

.unit-parent-container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1034px;
}

.check-back-message {
  width: 50%;
  line-height: 40px;
  display: inline-block;
  min-width: 360px;
}

.check-back-image-container {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  
  
}

.project-screenshot {
  width: 300px;
}

.unit-title {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 32px;
}

.availability-box {
  margin-bottom: 30px;
  border: 3px solid red;
  width: 30%;
  margin-left: 35%;
  color: red;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.home {
  padding-left: 5%;
  padding-right: 5%;
}

.home-image-container {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.project-date {
  color: rgba(6,57,84,1);
}

.unit1-project-left-container {
  width: 35%;
  display: inline-block;
  background-color: rgba(6,57,84,1);
  vertical-align: top;
  min-height: 330vh;
  color: white;
  padding-bottom: 5vh;
}

.unit1-project-right-container {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  padding-bottom: 5vh;
}

.resources-content-container {
  color: white;
  text-align: left;
  padding-left: 15px;
}

.resources-title {
  text-decoration: underline;
}

.resources-section-header {
  background-color: white;
  color: rgba(6,57,84,1);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5%;
  border-radius: 10px;
}

.resources-section-content {
  padding-left: 15px;
  padding-right: 25px;
}

li {
  padding-top: 10px;
  padding-right: 25px;
}

.resource-link {
  padding-left: 15px;
  padding-right: 25px;
  text-decoration: underline;
}

.article-screenshot {
  width: 80%;
  margin-left: 5%;
}

.project-right-heading {
  background-color: lightgray;
  margin-top: 0;
  vertical-align: top;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.project-header {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 0;
}

.project-right-content-container {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.project-content-header {
  background-color: rgba(6,57,84,1);
  color: white;
  padding-top: 5px;
  margin-top: 0;
  padding-bottom: 5px;
  padding-left: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.coggle-frame {
  min-height: 400px;
  padding-left: 12.5%;
  margin-bottom: 20px;
}

.article-one {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.article-two {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.article-link {
  color: rgba(6,57,84,1);
}

.readings-screenshot {
  width: 90%;
  height: auto;
  margin-left: 0;
}

.readings-top {
  margin-bottom: 40px;
  padding-left: 15px;
}
.readings-bottom {
  margin-bottom: 40px;
  padding-left: 15px;
}

.content-box-container {
  border: 3px solid rgba(6,57,84,1);
  border-radius: 15px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}


.coggle-intro {
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
}


.personal-reflection-content {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  line-height: 30px;
}

.app-link {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  text-decoration: underline;
}